<!DOCTYPE HTML>
<html>
<head>
    <title>Pin Tester</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/controlpanel/tester/setpin">
        <table>
            <tr>
                <th>Pin Number</th>
                <th>Is Output</th>
                <th>Value</th>
            </tr>
            <tr>
                <td><input type="text" name="pin"/></td>
                <td><input type="checkbox" name="output"/></td>
                <td><input type="text" name="value"/></td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>